* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bfbfbf;
}
#app {
  display: flex;
  justify-content: center;
}
.prev, .images, .next {
  display: inline-block;
}
.fas {
  font-size: 30pt;
}
.fa-circle {
  color: blue;
}
